@import "./utils/_mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  @include devices(tablet) {
    user-select: none;
  }
}
body {
  background-color: #535353;
  overflow-x: hidden;
}
